{{!-- hero cinecuc --}}
<div id="carouselcinecuc" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselcinecuc" data-slide-to="0" class="active"></li>
    <li data-target="#carouselcinecuc" data-slide-to="1"></li>
    <li data-target="#carouselcinecuc" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
        <div class="container-fluid bg-banner-peliculas-sl1 ">
            <div class="container">
                <div class="row text-white p-4 vh-80 align-items-center">
                    <div class="col-sm-6 text-center">
                        <img class="img-fluid" src="../img/pelicula-1.jpg" alt="Mandalorian" width="200">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="font-weight-bold display-5 title-web-slider title-web-slider">The Mandalorian (2019)</h1>
                        <p class="lead">TV-14 Sci-Fi Fantasy, Action Adventure, Western | 35m</p>
                        <h3 class="font-weight-bold">Vista general</h3>
                        <p><small>Ambientada tras la ca칤da del Imperio y antes de la aparici칩n de la Primera Orden, la serie sigue los pasos de Mando, un cazarrecompensas perteneciente a la legendaria tribu de los Mandalorian, un pistolero solitario que trabaja en los confines de la galaxia, donde no alcanza la autoridad de la Nueva Rep칰blica.</small></p>
                        <p class="font-weight-bold">Jon Favreau <br><small>Creador</small></p>
                        <a class="btn btn-dark btn-lg shadow-sm">Reservar Funcion 游</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="container-fluid bg-banner-peliculas-sl2">
            <div class="container">
                <div class="row text-white p-4 vh-80 align-items-center">
                    <div class="col-sm-6 text-center">
                        <img class="img-fluid" src="../img/pelicula-2.jpg" alt="Los100" width="200">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="font-weight-bold display-5 title-web-slider title-web-slider">Los 100 (2014)</h1>
                        <p class="lead">TV-14 Sci-Fi  Fantasy, Drama, Action Adventure | 43m</p>
                        <h3 class="font-weight-bold">Vista general</h3>
                        <p><small>Situada 97 a침os despu칠s de una guerra nuclear que ha destruido la civilizaci칩n, los supervivientes de una nave espacial, que han sobrevivido durante 3 generaciones en el espacio, env칤an 100 delincuentes juveniles "para testear" las condiciones de la Tierra, con la esperanza de eventualmente volver a poblar el planeta.</small></p>
                        <p class="font-weight-bold">Jason Rothenberg <br><small>Creador</small></p>
                        <a class="btn btn-dark btn-lg shadow-sm">Reservar Funcion 游</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item active">
        <div class="container-fluid bg-banner-peliculas-sl3 ">
            <div class="container">
                <div class="row text-white p-4 vh-80 align-items-center">
                    <div class="col-sm-6 text-center">
                        <img class="img-fluid" src="../img/pelicula-3.jpg" alt="Odisea en el espacio" width="200">
                    </div>
                    <div class="col-sm-6">
                        <h1 class="font-weight-bold display-5 title-web-slider title-web-slider">2001: Una odisea del espacio (1968)</h1>
                        <p class="lead">10/4/1968 (US) Ciencia ficci칩n, Misterio, Aventura | 2h 21m</p>
                        <h3 class="font-weight-bold">Vista general</h3>
                        <p><small>La historia de la humanidad, en diversos estadios del pasado y del futuro, es narrada en la pel칤cula de ciencia-ficci칩n de culto por excelencia de la historia del cine. Hace millones de a침os, en los albores del nacimiento del homo sapiens, unos simios descubren un monolito que les lleva a un estadio de inteligencia superior. </small></p>
                        <p class="font-weight-bold">Stanley Kubrick <br><small>Creador</small></p>
                        <a class="btn btn-dark btn-lg shadow-sm">Reservar Funcion 游</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselcinecuc" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselcinecuc" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{{!-- end hero cinecuc --}}

{{!-- funciones --}}
<section class="bg-section">
    <div class="container container-fluid">
        <div class="row align-items-center vh-80">
            {{#each pelicula}}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{nombre}}</h4>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{!-- end funciones --}}