<section class="bg-section">
    <div class="container container-fluid">
        <div class="row align-items-center vh-80">
            {{#each pelicula}}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ nombre }}</h4>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>