<div class="row pt-5">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Iniciar sesion
        </h1>
      </div>
        ´<div class="p-5">
          <a class="navbar-brand logo-brand text-primary " href="/">Cinecuc 🍿</a>
        </div>
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" class="form-control" name="correo" placeholder="Correo Electronico" autofocus>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="contraseña" placeholder="Contraseña">
          </div>
          <button class="btn btn-primary btn-block">
            Iniciar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>